@model IEnumerable<Proyecto_FinalProgra1.Models.Category>

@{
    ViewData["Title"] = "Lista de Categorías";
}

<h2 class="text-primary" style="color: hsl(14, 100%, 56.7%)">Categorías de Comida</h2>

<a asp-controller="Category" asp-action="Create" class="btn btn-primary mb-3">Crear Nueva Categoría</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
